@import "../assets/colors.css";

.footer {
  display: block;
  text-align: center;
  width: 100%;
  background-color: var(--main-strong-color);
  color: var(--main-body-color);
  padding: 5px 0px;
  margin: 0;
  font-size: 1em;
}
