@import "../assets/colors.css";
header {
  background-color: var(--main-strong-color);
}
header nav ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  margin: 0;
  padding: 15px;
}
a {
  font-size: 1em;
  text-decoration: none;
  color: var(--main-body-color);
  cursor: pointer;
}
header nav ul li {
  margin-top: 10px;
  list-style: none;
}

header nav ul li:nth-child(odd) {
  float: right;
  grid-row: auto;
  grid-column: 1 / 2;
}
header nav ul li:nth-child(even) {
  float: left;
  grid-row: auto;
  grid-column: 2 / 3;
}

@media screen and (min-width: 500px) {
  header nav ul {
    grid-template-columns: auto;
    grid-template-rows: 1fr;
  }
  header nav ul li:nth-child(odd),
  header nav ul li:nth-child(even) {
    float: none;
    grid-row: 1 / 2;
    grid-column: auto;
  }
}
@media screen and (min-width: 700px) {
  header {
    width: 100%;
  }
  header nav ul {
    display: inline-block;
  }
  header nav ul li {
    display: inline-block;
    width: auto;
    margin-left: 15px;
  }
}
