.expenses-form td input,
td select {
  width: 90%;
  padding: 5px;
  border: 0px solid #000;
  border-radius: 5px;
  font-size: 1rem;
}
td:last-of-type {
  text-align: center;
}
button {
  background-color: transparent;
  border: 0px;
  font-size: 2rem;
  color: green;
  margin: auto 0;
  cursor: pointer;
}

button svg {
  margin: 0;
}
