@import "../../assets/sizes.css";

.main-title {
  border: 1px solid var(--main-success-color);
  width: 10%;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto;
  border-radius: 10px;
  padding: 5px;
  font-size: 0.5rem;
  color: var(--main-success-color);
  margin: 0 auto;
}
.main-title h1 {
  display: none;
}
svg {
  margin: auto;
}

@media screen and (min-width: 500px) {
  .main-title {
    width: 70%;
    font-size: 0.5rem;
  }
  .main-title h1 {
    display: inline;
  }
}
@media screen and (min-width: 700px) {
  .main-title {
    width: 50%;
    font-size: 0.8rem;
  }
  svg {
    margin-top: 10px;
    margin-left: 20px;
  }
  h1 {
    margin-left: 20px;
  }
}
