:root {
  --main-body-color: #f1faee;
  --main-strong-color: #1d3557;
  --main-success-color: #457b9d;
  --main-error-color: #e63946;
  --main-soft-color: #a8dadc;
  --main-text-color: #495057;
  --main-input-border-color: #ced4da;
}
